---
layout      : default
title       : "Work"
id          : "work"
---

<div class="content-wrapper">
  <div class="wrap">

    <h1 class="page-title">From concept to creation and beyond, we work with incredible people to make great digital products.</h1>

    <div class="client-list">
      {% for client in site.data.client-list %}
        <div class="client-list__logo">
          <img class="client-list__logo-image" src="{{ site.url }}/assets/img/clients/{{ client.src }}" alt="{{ client.alt }}" />
        </div>
      {% endfor %}
    </div>

  </div>

  <div class="work-items">
    {% for item in site.data.work-items %}
      <div class="work-item">
        <img class="work-item__image" src="{{ site.url }}/assets/img/work/{{ item.image }}" alt="{{ item.alt }}" />
        <div class="work-item__titleblock" style="background-color:{{ item.background }};">
          <div class="work-item__info">
            <h3 class="work-item__client">{{ item.client }}</h3>
            <span class="work-item__category">{{ item.category }}</span>
          </div>
          {% if item.link != nil %}
            <a class="work-item__link" href="{{ item.link }}">Website</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

</div>
