/*************************************
GLOBALS
*************************************/
html, body{



}

a{



	&:hover{

	}

}

h1, h2, h3, h4, h5, h6{

}

#wrapper{

}

/*************************************
HEADER
*************************************/
header#main_header{



	#logo{



		&:hover{

		}

		img{

		}

	}

	nav{

		font-size: 1.3em;

		ul{



			li{

				margin-left: 30px;

				a{



				}

			}

			li.current_page a,
			li a:hover{

			}

		}

	}

}

/*************************************
HOMEPAGE
*************************************/
body.homepage{

	#homepage_background{



	}

	header#main_header{

		#logo{

		}

	}

	footer#main_footer{

	}

}

#homepage_content{



	h1{
		font-size: 3.8em;
	}
	h2{
		font-size: 2em;
	}

}

/*************************************
FOOTER
*************************************/
footer#main_footer{

	font-size: 1.15em;

	ul{



		li{

			margin-right: 30px;

			a{



				&:hover{

				}

			}

		}

		li.right_align{
			margin-right: 0;
		}

	}

}