/*************************************
GLOBALS
*************************************/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{

  background-color: $white;
  color: $black;
  font-family: $secondaryFont;
  font-weight: 300;
  font-size: 1em;

}

a{

  color: $black;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }

}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  font-family: $primaryFont;
}

#wrapper{
  position: relative;
}

.button{

  display: inline-block;
  position: relative;
  border: solid 1px #000;
  padding: 6px 10px;
  text-align: center;
  @include rounded(4px);
  @include transition(opacity, 0.15s, ease-in-out);

  &:hover{
    text-decoration: none;
    opacity: 0.85;
  }

}

/*************************************
HEADER
*************************************/
header#main_header{

  padding: 20px;
  font-family: $primaryFont;

}
#logo{

  display: block;
  padding: 8px;
  float: left;
  @include transition(opacity, 0.15s, ease-in-out);

  &:hover{
    opacity: 0.7;
  }

  #branberg_logo{
    @include branberg-logo( 30px, #000 );
  }

  img{
    display: block;
    width: 100%;
    height: auto;
  }

}

nav#main_nav{

  float: right;
  margin-top: 8px;

  ul{

    margin: 0;
    padding: 0;

    li{

      list-style-type: none;
      display: inline-block;

      a{

        display: block;
        padding: 6px 8px;

      }

    }

    li.current_page a,
    li a:hover{
      text-decoration: none;
      color: $gray;
    }

  }

}

/*************************************
HOMEPAGE
*************************************/
body.homepage{

  #homepage_background{

    @include absoluteFull(0);
    position: fixed;
    background: #ffffff url(../img/background.png) 0 0 repeat scroll;
    @include background-size( 450px );
    z-index: 0;
    opacity: 0.5;

  }

  header#main_header{

    #logo{

    }

  }

  footer#main_footer{

  }

}

#homepage_content{

  padding: 30px;
  text-align: center;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;

  h1{
    margin: 0 0 0.3em 0;
  }
  h2{
    color: $gray;
    font-weight: 300;
    margin: 0;
  }

}

/*************************************
CONTENT
*************************************/
#content{

  background: $white;
  min-height: 300px;

  h1{
    font-weight: 300;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    margin: 0;
  }

}

/*************************************
STUDIO
*************************************/

/*************************************
WORK
*************************************/
ul#client_list{

  margin: 0;
  padding: 20px 0;

  li{
    display: block;
    float: left;
    width: 50%;
    padding: 10%;
    text-align: center;
  }
  a{
    display: block;
  }
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

}
#work_container{

  margin-top: 2em;

  ul{

    margin: 0;
    padding: 0;
    list-style-type: none;

  }
  li{

    display: block;
    width: 100%;
    float: left;
    position: relative;

  }
  img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  a{

  }

}
.work_label{

  font-weight: 300;
  display: block;
  font-size: 0.85em;
  background: #1a1a1a;
  color: $white;
  position: relative;

  &:after{
    display: table;
    content: '';
    clear: both;
  }

  .label{

    padding: 20px 96px 20px 20px;
    float: left;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span{
      font-weight: 700;
      margin-right: 6px;
    }

  }
  a.button{

    color: $white;
    float: right;
    border-color: #ffffff;
    position: absolute;
    top: 12px;
    right: 12px;

    &:hover{

    }
  }

}
.overlay{
  display: none;
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: solid 1px $white;
  color: $black;
}

/*************************************
FOOTER
*************************************/
footer#main_footer{

  color: $gray;
  padding: 30px;
  font-family: $primaryFont;

  ul{

    margin: 0;
    padding: 0;

    li{

      list-style-type: none;
      display: block;
      padding: 8px;

      a{

        color: $gray;
        text-decoration: underline;

        &:hover{

        }

      }

    }

  }

}

/*************************************
Contact Modal
*************************************/
.modal_overlay{
  background: rgba(0,0,0,0.85);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
.modal{
  display: none;
  position: fixed;
  background: $white;
  color: $black;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  @include transform( translateX(-50%) translateY(-50%) );
}
.modal_content{

  h3{
    margin: 0;
    background: #f8f8f8;
    padding: 20px;
  }

  > div{ padding: 20px; }

  p{
    margin-top: 0;
  }

}
button.close_modal{

}

.modal-show {
  visibility: visible;
}
.modal-show ~ .modal_overlay {
  opacity: 1;
  visibility: visible;
}

//fade effect
.modal_content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show  .modal_content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}