.clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin hoverActiveFocus() {
    &:hover, &:active, &:focus {
        @content;
    }
}

@mixin absoluteFull($size){
    position: absolute;
    top: $size;
    right: $size;
    bottom: $size;
    left: $size;
}

@mixin transition( $type, $duration, $ease ){
    -moz-transition: $type $duration $ease;
    -webkit-transition: $type $duration $ease;
    -o-transition: $type $duration $ease;
    transition: $type $duration $ease;
}

/*********************
BORDER RADIUS
*********************/
@mixin border-radius( $tl, $tr, $br, $bl ) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  -o-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

/*********************
BORDER RADIUS - Even
*********************/
@mixin rounded($radius){
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

/*********************
BOX SHADOW
*********************/
@mixin box-shadow( $xoffset: 0, $yoffset: 0, $spread: 0, $opacity: 0.25 ) {
  -moz-box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
  -webkit-box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
  -o-box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
  box-shadow: $xoffset $yoffset $spread rgba(0,0,0,$opacity);
}

/*********************
TRIANGLES
*********************/
@mixin triangle ( $direction, $size, $color ) {

    width: 0;
    height: 0;

    @if $direction == 'right' {

        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;

    } @elseif $direction == 'down' {

        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @elseif $direction == 'left' {

        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;

    } @elseif $direction == 'up' {

        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }
}

/*********************
Background Size
*********************/
@mixin background-size( $size: '100%' ) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

/*********************
Branberg Logo
*********************/
@mixin branberg-logo( $height: '100px', $color: '#000' ) {

    display: block;
    width: $height;
    height: $height;
    position: relative;
    overflow: hidden;

    &:before,
    &:after{
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 0.77 * $height;
        height: 0;
        border-top: solid $height*0.46 $color;
        border-bottom: solid $height*0.46 rgba(255,255,255,0);
        border-right: solid $height*0.23 rgba(255,255,255,0);
    }

    &:before{ top: 0; }

    &:after{ top: $height*0.54; }

}

/*********************
Transform
*********************/
@mixin transform( $transform: '' ){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}