@mixin branberg-logo( $height: '100px', $color: '#000' ) {

  display: block;
  width: $height;
  height: $height;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 0.77 * $height;
    height: 0;
    border-top: solid #{$height * 0.46} $color;
    border-bottom: solid #{$height * 0.46} rgba(255,255,255,0);
    border-right: solid #{$height * 0.23} rgba(255,255,255,0);
  }

  &::before {
    top: 0;
  }

  &::after {
    top: $height * 0.54;
  }

}
