@mixin button($color: $black, $background: $white) {
  display: inline-block;
  color: $color;
  position: relative;
  background-color: $background;
  border: solid 1px $color;
  padding: 6px 10px;
  text-align: center;
  border-radius: 4px;
  transition: opacity 0.15s ease-in-out;

  &:hover{
    text-decoration: none;
    opacity: 0.85;
  }
}
