%footer.site-footer

  .site-footer__links
    %a.site-footer__link{href: "mailto:{{ site.contact_email }}"}
      {{ site.contact_email }}
    %a.site-footer__link{href: "http://twitter.com/branberg", target: "_blank"}
      = "@{{ site.twitter_username }}"

  .site-footer__info
    %p.site-footer__text
      {{ site.physical_location }}
    %p.site-footer__text
      = "&copy;{{ site.title }}"
