%header.site-header
  %a.site-header__logo{href: "/", rel: "home"}
    .site-header__branberg-icon
  %nav.site-header__nav
    %ul
      %li
        %a{href: "./work.html"} Work
      %li
        %button.md-trigger{"datamodal": "modal-1", href: "#"} Contact
