.content-wrapper {

  .body--home & {
    padding: 30px;
    text-align: center;
    border-top: solid 1px darken($white, 7%);
    border-bottom: solid 1px darken($white, 7%);

    @media screen and (min-width: 768px) {
      border: none;
      padding: 55px;
      position: fixed;
      width: 100%;
      top: 50%;
      text-align: center;
      transform: translateY(-60%);
    }
  }
}
