.page {
  border: solid 1rem $black;
  background-color: $white;
  color: $black;
  font-size: 1.8rem;
  min-height: 100vh;

  @media screen and (min-width: 60rem) {
    border-width: 2rem;
  }

  &.page--home {
    border-color: $white;
    background-color: $black;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.page__content {
  padding: 4rem;

  @media screen and (min-width: 60rem) {
    padding: 14rem;
  }

  .page--home & {
    padding: 0;
  }
}
