.site-footer {
  color: $black;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4rem;

  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  &.site-footer--home {
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a {
      color: $white;
    }
  }
}

.site-footer__text {
  margin: 1rem 0 0;

  @media screen and (min-width: 600px) {
    margin-top: 0;
  }
}

.site-footer__logo {
  @include branberg-logo($height: 20px, $color: $white);
  display: none;

  @media screen and (min-width: 600px) {
    display: block;
  }
}
