.work-items {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  flex: 0 0 100%;
  padding-bottom: 52px;
  position: relative;

  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }
}

.work-item__image {
  display: block;
  width: 100%;
  height: auto;
}

.work-item__titleblock {
  font-weight: 300;
  font-size: 1rem;
  background: $black;
  color: $white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.work-item__info {

}

.work-item__client,
.work-item__category {
  display: inline-block;
  font-size: 1rem;
}

.work-item__client {
  margin: 0 6px 0 0;
}

.work-item__category {

}

.work-item__link {
  @include button($color: $white, $background: $black);
}
