.body--home{

  &::before {

    @include absoluteFull(0);
    content: '';
    display: none;
    position: fixed;
    background: $white url('../img/background.png') 0 0 repeat scroll;
    background-size: 450px;
    z-index: 0;
    opacity: 0.5;

    @media screen and (min-width: 768px) {
      display: block;
    }

  }

}
